<template name="socialButtons">
  <p>
    <a href="https://twitter.com/q42"><img class="fa-icon" src="{{assetsUrl}}/images/icons/white/twitter-square.svg" alt="Twitter"></a>
    <a href="https://facebook.com/q42bv"><img class="fa-icon" src="{{assetsUrl}}/images/icons/white/facebook-square.svg" alt="Facebook"></a>
    <a href="http://google.com/+Q42DenHaag"><img class="fa-icon" src="{{assetsUrl}}/images/icons/white/google-plus-square.svg" alt="Google+"></a>
    <a href="http://github.com/q42"><img class="fa-icon" src="{{assetsUrl}}/images/icons/white/github-square.svg" alt="Github"></a>
    <a href="http://www.linkedin.com/company/q42"><img class="fa-icon" src="{{assetsUrl}}/images/icons/white/linkedin-square.svg" alt="LinkedIn"></a>
    <a href="http://www.youtube.com/q42bv"><img class="fa-icon" src="{{assetsUrl}}/images/icons/white/youtube-square.svg" alt="Youtube"></a>
    <a href="http://vimeo.com/q42"><img class="fa-icon" src="{{assetsUrl}}/images/icons/white/vimeo-square.svg" alt="Vimeo"></a>
    <a href="http://instagram.com/q42bv"><img class="fa-icon" src="{{assetsUrl}}/images/icons/white/instagram.svg" alt="Instagram"></a>
    <a href="http://medium.com/q42bv"><img class="fa-icon" src="{{assetsUrl}}/images/icons/white/medium.svg" alt="Medium"></a>
  </p>
</template>
