<template name="socialButtons">
  <p>
    <a href="https://twitter.com/q42" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="https://facebook.com/q42bv" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="http://google.com/+Q42DenHaag" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
    <a href="http://github.com/q42" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
    <a href="http://www.linkedin.com/company/q42" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="http://www.youtube.com/q42bv" title="Youtube"><i class="fa fa-youtube-play fa-2x"></i></a>
    <a href="http://vimeo.com/q42" title="Vimeo"><i class="fa fa-vimeo-square fa-2x"></i></a>
    <a href="http://instagram.com/q42bv" title="Instagram"><i class="fa fa-instagram fa-2x"></i></a>
  </p>
</template>
