<template name="games">
  <div class="container">

    <header class="block-text">
      <h1>Games</h1>
    </header>

    {{> projects category='game' intro='games-intro'}}

    {{#unless langEn}}
    <div class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/games/mbb-q-2.png" alt=""/>
          <p>Wat een demo in 2 dagen kan doen</p>
        </div>
        <div class="body">
          <h2>Monolith Burger Boy</h2>
          <h3>Van HTML5 demo naar Kickstarter</h3>
          <p>"We gaan een adventure game maken in twee dagen" zei Martin. "Ok. Wanneer?" vroeg Richard. "Nu". En zo werd spontaan een demo in elkaar gezet om de makers van Space Quest van HTML5 te overtuigen.</p><p><a href="https://chrome.google.com/webstore/detail/monolith-burger-boy/pcbhpogkmlpjhpjmohlnpdojdcmelhfd" class="external">Speel de demo in Chrome</a></p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/games/spaceventure.jpg" alt=""/>
          <p>Samen met de makers van Space Quest!</p>
        </div>
        <div class="body">
          <h2>SpaceVenture Kickstarter</h2>
          <h3>Adventuregamen in HTML</h3>
          <p>De makers van Space Quest wilden een nieuw avontuur gaan maken. We raadden ze aan om ook HTML5 als techniek te overwegen. Dat leidde tot een samenwerking met onze "oude helden" om tijdens hun Kickstarter campagne vijf speelbare prototypes te maken, ook voor de iPad. En de Kickstarter? Die is gehaald!</p>
          <p><a href="https://chrome.google.com/webstore/detail/spaceventure-living-conce/appnohofkacbfjjfedfapckmagkgbmdo" class="external">Speel prototype 5 direct in Chrome!</a></p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/games/rgbgame.jpg" alt="">
          <p>Vet moelijk, man!</p>
        </div>
        <div class="body">
          <h2>The RGB Game</h2>
          <h3>Award-winning HTML5 Chrome game</h3>
          <p>Wat krijg je als je wiskunde, een leuk idee en een Chrome Web Store Competition mixt? In het geval van Remco en Elaine: een leuk spel én een gewonnen Chromebook!</p>
          <p><a href="https://chrome.google.com/webstore/detail/hnieofmjopiiifehpejcgcpailcndege" class="external">Installeer de Chrome Web App</a></p>
        </div>
      </div>
    </div>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="{{assetsUrl}}/images/games/settleit.png" alt=""/>
            <p>Once and for all...</p>
          </div>
          <div class="body">
            <h2>Settle It!</h2>
            <h3>De winnaar van w00tcamp 2011</h3>
            <p>Elk jaar met <a href="/w00tcamp">w00tcamp</a> coden we samen met vrienden zoals Fabrique allerlei games en ander cool spul.</p><p>In 2011 maakten Patrick en Benjamin de iPhone app Settle It! Een terechte winnaar!</p>
            <p><a href="http://settleit.w00tcamp.nl/" class="external">settleit.w00tcamp.nl</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="{{assetsUrl}}/images/games/quest42.png" alt=""/>
            <p>Ons virtuele kantoor in pixels</p>
          </div>
          <div class="body">
            <h2>Quest42</h2>
            <h3>So You Want To Be A Nerd</h3>
            <p>Met de sarien.net engine bouwden we een cadeautje voor onze klanten: een virtueel Q42 waarin ze op zoekgaan naar cadeaus en die ook claimen in real-life. De reacties waren op z'n zachtst gezegd "positief" ;)</p><p><a href="http://soyouwanttobeanerd.q42.com" class="external">Ga naar soyouwanttobeanerd.q42.com</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="{{assetsUrl}}/images/games/peteralexandermemory-q.png" alt=""/>
            <p>Alleen van z'n goede kant natuurlijk</p>
          </div>
          <div class="body">
            <h2>Peter Alexander Memory</h2>
            <h3>Het moeilijkste memoryspel ter wereld</h3>
            <p>In de tijd dat we nog geen Sonos hadden werd de platenspeler veelvuldig gebruikt bij Q. Nog altijd hebben we  de platen van Peter Alexander, en het viel ons op dat zijn hele collectie ongeveer dezelfde foto's op de cover heeft. Sja, daar moesten we wat mee...</p>
          </div>
        </div>
      </div>
    </section>
    {{/unless}}

    <div class="block-full">
      {{#if langEn}}
      <p><a href="/projects">More games &amp; other work</a></p>
      {{else}}
      <p><a href="/projecten">Meer games &amp; ander werk</a></p>
      {{/if}}
    </div>

  </div>
</template>
