systemFont = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
bodyFont = systemFont
titleFont = bodyFont
monoFont = "Roboto Mono", titleFont
assetsUrl = "https://storage.googleapis.com/static.q42.nl"

qColor = #84bc2d
titleColor = #315011

smallcaps()
	text-transform uppercase
	-webkit-font-smoothing antialiased
