@import "../../../styles/variables.styl"

@media (min-width 620px)
  .block-full:first-child
    margin-top 100px
    margin-bottom 100px

.newslist
  display flex
  align-items center

  @media (min-width 620px)
    margin 0 5rem 5rem 5rem
    overflow-x hidden

  & > h2, & > p, & > p a
    color white
  & > p
    margin 40px 0 !important
  & > h2, & > p
    text-align center
  & > h2
    font-weight 300
    font-style italic
    smallcaps()

  @media (max-width 600px)
    width 100%
    flex-wrap wrap

.newsitem
  flex 1
  @media (min-width 620px)
    min-width 340px

  .col:last-child
    flex 4

  h2
    font-size 16px
    color qColor
    margin-top 0

  a
    display flex
    justify-content space-between
    align-items center
    border none
    color white
    padding 0 2rem 1rem 2rem
    font-weight 300
    &:hover
      color white
      h2
        text-decoration underline
        color qColor + #333

  p
    margin-top 0

  .metadata
    display flex
    justify-content space-between
    align-items center
    font-size .8rem
    color rgba(255,255,255,.7)

  .author
    float right
    img
      vertical-align middle
      border-radius 50%
      object-fit cover
      width 32px
      height 32px

  .image
    width 75px
    height 75px
    margin-right 1rem
    overflow hidden
    border solid 5px #333
    border-radius 50%
    background-color #222
    img
      object-fit cover
      width 75px
      height 75px
